
:root   {
    //COLOR PRIMARY
    --color-primary-1: hsl(14, 45%, 36%); //NUTMEG
    --color-primary-2: hsl(332, 51%, 32%); //DARK RASPBERRY
    //COLOR NEUTRAL
    --color-white: hsl(0, 0%, 100%);
    --color-rose-white: hsl(330, 100%, 98%);
    --color-eggshell: hsl(30, 54%, 90%);
    --color-light-grey: hsl(30, 18%, 87%);
    --color-wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);

    //FONTS
    --font-primary: 'Outfit', sans-serif;
    --font-heading: 'Young Serif', serif;
}
