.section-intro {
    width: 100%;
    height: 100%;

    &__img  {
        display: block;
        width: 100%;
        border-radius: 20px;
    }

    &__preparation-time {
        margin: 2rem 0;
        background-color: hsla(332, 51%, 32%, .06);
        border-radius: 20px;
        padding: 2rem 3rem;
    }

    &__time-details  {
        color: var(--color-wenge-brown);
        font-size: 1.6rem;
        list-style: inside;
        line-height: 2;

        li  {
            margin-left: 1rem;
        }

        span    {
            font-weight: 600;
            margin-left: 1rem;
        }
    }
}

.section-ingredients    {
    
}